@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;800&display=swap');

:root {
  --main-text-color: #262626;
  --hover-text-color: #6D6D6D;
  --active-text-color: #A8A8A8;
}


body {
  font-family: 'Lato', sans-serif !important;
  font-weight: 400;
  color: var(--main-text-color);
}

.container {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
    @media (min-width: 768px) {
      .container {
          max-width: 1080px;
        }
      }
    @media (min-width: 1200px) {
      .container {
          max-width: 1080px;
        }
      }

.content-padding {
  padding: 0 8px;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.intro {
    margin-left: 24px;
    margin-top: 8rem!important;
    margin-bottom: 5rem!important;
  }
  @media (min-width: 576px) {
    .intro {
      margin-top: 6rem!important;
      }
    }
    @media (min-width: 768px) {
      .intro {
        margin-top: 8rem!important;
        }
      }

h1{
  font-family: 'Muli', sans-serif !important;
  font-weight: 400;
  font-size: 2.3rem;
  margin-bottom: 1.5rem!important;
  line-height: 1.3;
}

    @media (min-width: 768px) {
      h1 {
          font-size: 3rem;
          line-height: 1.5;
        }
      }
    @media (min-width: 992px) {
      h1 {
          font-size: 4.2rem;
        }
      }

h2 {
  font-weight: 800;
  font-size: 14px;
  margin-bottom: 6px;
  font-family: 'Muli', sans-serif !important;
}

.card-body {
  max-width: 280px;
}

h3 {
    font-family: 'Muli', sans-serif !important;
    font-weight: 800;
    font-size: 24px;
    margin-bottom: 16px;
      }

h3 a {
  text-decoration: none;
}
h3 a:hover {
  text-decoration: underline;
  color: var(--main-text-color);
}

h4 {
          font-family: 'Muli', sans-serif !important;
          font-weight: 700;
          font-size: 1.1rem;
          margin-bottom: 10px;
            }

.subtitle {
  font-size: 22px;
}

a {
   color: var(--main-text-color);
    text-decoration: underline;
  }
  a:hover {
      color: var(--hover-text-color);
    }
  a:active {
      color: var(--main-text-color);
    }

p {
  line-height: 1.8;
}

.font-extrabold {
  font-weight: 800;
}

.navbar {
  padding-top: 24px;
  transition: all 0.2s;
}

.navbar.scrolled {
  padding-top: 8px;
  transition: all 0.2s;
  background-color: #ffffff;
}


.no-padd-m {
    padding-right: 0;
    padding-left: 0;
  }
  @media (min-width: 576px) {
    .no-padd-m {
      padding-right: 1rem;
      padding-left: 1rem;
      }
    }

.max-width-350 {
  max-width: 350px;
}

.card {
    min-width: 0;
    word-wrap: break-word;
    border: none;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.card:hover h3{
  /*    box-shadow: 0 0rem 2.6rem rgba(0,0,0,.18);   */
    text-decoration: underline;
}
/*
.card:hover .card-img {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.15);
}*/

.card:hover {
  -webkit-transform: translate(0,-10px);
  -moz-transform: translate(0,-10px);
  -o-transform: translate(0,-10px);
  -ms-transform: translate(0,-10px);
  transform: translate(0,-10px);
}

.card-img {
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
  border-bottom-right-radius: calc(0.25rem - 1px);
  overflow: hidden;
  display: flex;
  justify-content: center;
  height: 100%;
  max-height: 360px;
  object-fit: cover;
  margin-bottom: 24px;
}

.left-col {
  padding-left: 24px !important;
  padding-right: 24px !important;
}
  @media (min-width: 576px) {
    .left-col {
      padding-right: 24px !important;
      }
    }
    @media (min-width: 1144px) {
      .left-col {
        padding-left: 0 !important;
        padding-right: 32px !important;
        }
      }

.right-col {
  padding-left: 24px !important;
  padding-right: 24px !important;
    }
  @media (min-width: 576px) {
    .right-col {
      padding-left: 24px !important;
    }}
    @media (min-width: 1144px) {
      .right-col {
        padding-left: 32px !important;
        padding-right: 0px !important;
      }}

.col-lg-9 {
  padding-left: 8px;
  padding-right: 8px;
}

.btn {
  font-weight: 400;
  font-family: 'Lato', sans-serif !important;
  color: var(--main-text-color);
  background-color: white;
  border-color: var(--main-text-color);
  border-radius: 0;
  text-decoration: none;
}

.btn:hover, .btn:focus {
  color: white;
  background-color: var(--main-text-color);;
}

.brands {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 24px 32px 0px 32px;
}
@media (min-width: 768px) {
  .brands {
    justify-content: flex-end;
  }
}
@media (min-width: 1144px) {
  .brands {
    padding-right: 8px;
  }}

.brands-inner {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  @media (min-width: 576px) {
    .brands-inner {
      justify-content: flex-end;
    }
  }

.brands-h3 {
  padding-left: 32px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media (min-width: 1144px) {
  .brands-h3 {
    padding-left: 8px;
  }}
.brands-h3 h3{
  margin-bottom: 0px;
}

.brands .logo {
  height: 50px;
  margin-top: 0;
  margin-bottom: 24px;
  padding-left: 0px;
  padding-right: 56px;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .brands .logo {
    height: 50px;
    margin-top: 32px;
    margin-bottom: 32px;
    padding-left: 40px;
    padding-right: 0px;
    display: flex;
    align-items: center;
  }
}

.brands .logo img {
  max-height: 50px;
  max-width: 100px;
  height: auto;
  width: auto;
}

.brands-bcg {
  background: white;
  position: relative;
}
.brands-bcg:before {
  background-color: red;
  width: 100%;
}
@media (min-width: 1192px) {
  .brands-bcg:before {
      width: 1144px;
      left: -32px;
      content:"";
      background-color:#f1f1f1;
      position: absolute;
      height: 100%;
      z-index: -1;
      border-top-left-radius: calc(0.25rem - 1px);
      border-top-right-radius: calc(0.25rem - 1px);
      border-bottom-left-radius: calc(0.25rem - 1px);
      border-bottom-right-radius: calc(0.25rem - 1px);
  }
}


.container-fluid {
  background-color: var(--main-text-color);
  color: white;
}

.foot {
  padding: 25px 0 10px 0;
}

.container-fluid a {
  color: white;
  font-size: 1rem;
}

.container-fluid a:hover {
  color: #d3d3d3;
}

.foot-nav {
    display: flex!important;
    justify-content: flex-end!important;
    align-self: center!important;
}

.nav-link {
  font-size: 14px;
  text-decoration: none;
  color: var(--main-text-color);
  padding: 8px;
}

.nav-link.active{
  color: var(--active-text-color);
}

.nav svg {
    width: 20px;
  }
  @media (min-width: 576px) {
    .nav svg {
      display: none;
      }
    }

.nav-cta-text {
    display: none;
  }
  @media (min-width: 576px) {
    .nav-cta-text {
      display: block;
      }
    }


html {
  scroll-behavior: smooth;
}

:target {
  display: block;
  position: relative;
  top: -110px;
  visibility: hidden;
}

.case-study-img {
  width: 100%;
  object-fit: cover;
  object-position: left;
  margin-top:20px;
  border: none;
  border-radius: .25rem;
}
@media (min-width: 768px) {
  .case-study-img {
    margin-top: 0px;
    height: 100%;
    width: auto;
    max-height: 360px;
    max-width: 400px;
  }
}

.case-study-img-top {
  max-width: 100%;
  object-fit: cover;
  justify-content: center;
  display: flex;
  margin-bottom: 30px;
  border: none;
  border-radius: .25rem;
}
@media (min-width: 768px) {
  .case-study-img-top {
    height: 100%;
    max-height: 360px;
    margin-bottom: 0px;
  }}

.case-subtitle {
  font-size: 18px;
}

.align-left, .align-left h2 {
  text-align: left;
}

.col-md-6 {
  padding: 0 15px 0 15px;
}

ul {
  list-style-type: square;
}
li{
    padding-bottom: 8px;
}

.d-inline {
  display: inline-block;
}


.footer-contact{
  font-family: 'Muli', sans-serif !important;
  margin-bottom: 1.5rem!important;
  line-height: 1.3;
  padding: 0 24px;
}
@media (min-width: 1144px) {
  .footer-contact{
    padding: 0;
  }}

.footer-contact .secondary-text {
  font-size: 18px;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .footer-contact .secondary-text {
    font-size: 22px;
  }
}


.footer-contact .primary-text {
  font-size: 1.7rem;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .footer-contact .primary-text {
    font-size: 3rem;
    padding-bottom: 1rem;
  }
}
@media (min-width: 992px) {
  .footer-contact .primary-text {
    font-size: 54px;
    font-size: 4.2rem;
  }
}

.foot-credit {
    font-size: 12px;
    text-align: right;
    text-decoration: none;
    color: var(--main-text-color);
    padding: 8px;
  }

.my-divider {
    display: block!important;
    width: 15%!important;
    border-width: 2.15px!important;
    background-color: var(--main-text-color) !important;
    opacity: 0.9!important;
    margin-left: 8px;
    margin-bottom: 40px;
  }

  .my-divider-bottom {
      display: block!important;
      width: 8%!important;
      border-width: 2.15px!important;
      background-color: var(--main-text-color) !important;
      opacity: 0.9!important;
      margin-top: 72px;
    }

.case-links {
  font-family: 'Muli', sans-serif !important;
}

.highlights ul {
        padding: 0!important;
      }

.highlights {
  padding: 0;
}

li {
  padding-bottom: 0;
}

.highlights li {
    list-style-type: none;
    padding-bottom: 0.2rem;
  }

.wide-img {
  height: auto;
  width: 896px;
  border-radius: .25rem;
/*  box-shadow: 0 0rem 0.7rem rgba(0,0,0,.10);    */
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.10);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.10);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.10);
  transition: box-shadow 0.3s ease-in-out;
  image-rendering: crisp-edges;
}

.grey-text {
  font-size: 14px;
  color: var(--active-text-color);
}
