@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');


body {
  font-family: 'Roboto', sans-serif !important;
  font-weight: 300;
}

@media (min-width: 1200px) {
  .container {
      max-width: 960px;
    }
  }

h1{
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 1.5rem!important;
  line-height: 1.3;
}
    @media (min-width: 576px) {
      h1 {
          font-size: 2.3rem;
        }
      }
    @media (min-width: 768px) {
      h1 {
          font-size: 2.6rem;
          line-height: 1.5;
        }
      }
    @media (min-width: 992px) {
      h1 {
          font-size: 3rem;
        }
      }

.card-title {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 500;
  font-size: 1.6rem;
}
    @media (min-width: 576px) {
      .card-title {
          font-size: 1.8rem;
        }
      }
    @media (min-width: 768px) {
      .card-title {
          font-size: 2rem;
        }
      }
    @media (min-width: 992px) {
      .card-title {
          font-size: 2.2rem;
        }
      }

h2 {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 500;
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 30px;
      }

h4 {
          font-family: 'Montserrat', sans-serif !important;
          font-weight: 500;
          font-size: 1.1rem;
          margin-bottom: 10px;
            }

a {
    color: black;
    text-decoration: underline;
  }
  a:hover {
      color: #2C2C2C;
      text-decoration: none;
    }
  a:active {
      color: black;
      text-decoration: none;
    }

.font-light {
  font-weight: 300;
}

.navbar {
  background:white;
/*  box-shadow: 0 5px 15px rgba(0,0,0, 0.1);*/
}
.navbar.scrolled {
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.10);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.10);
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.10);
}

.navbar, .navbar .btn {
  font-size: 0.85rem;
}

.nav .btn svg {
    width: 20px;
  }
  @media (min-width: 576px) {
    .nav .btn svg {
      display: none;
      }
    }

.nav-cta-text {
    display: none;
  }
  @media (min-width: 576px) {
    .nav-cta-text {
      display: block;
      }
    }

.no-padd-m {
    padding-right: 0;
    padding-left: 0;
  }
  @media (min-width: 576px) {
    .no-padd-m {
      padding-right: 1rem;
      padding-left: 1rem;
      }
    }

.intro {
    padding-left: 1rem!important;
    padding-right: 1rem!important;
    margin-bottom: 3rem!important;
    margin-top: 5rem!important;
  }
  @media (min-width: 576px) {
    .intro {
      padding-left: 3rem!important;
      padding-right: 3rem!important;
      margin-bottom: 4rem!important;
      margin-top: 6rem!important;
      }
    }
    @media (min-width: 768px) {
      .intro {
        margin-bottom: 7rem!important;
        margin-top: 7rem!important;
        }
      }
  .intro .col-sm-8 {
    width: 80%!important;
    }
    @media (min-width: 400px) {
      .intro .col-sm-8 {
        width: 66%!important;
        }
      }
  .intro .col-sm-4 {
    width: 20%!important;
    }
    @media (min-width: 400px) {
      .intro .col-sm-4 {
        width: 33%!important;
        }
      }

    .intro img {
        width: 200%;
        float: right;
        }
      @media (min-width: 400px) {
        .intro img {
          width: 100%;
          max-height: 260px;
          }
        }

.card {
    flex-direction: row;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    border: none;
    border-radius: .25rem;
  /*  box-shadow: 0 0rem 0.7rem rgba(0,0,0,.10);    */
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.10);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.10);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.10);
    transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
  /*    box-shadow: 0 0rem 2.6rem rgba(0,0,0,.18);   */
    -webkit-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.13);
    -moz-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.13);
    box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.13);
    top: -5;
}

.card-img {
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  height: 100%;
  max-height: 360px;
  object-fit: cover;
}
@media (min-width: 768px) {
  .card-img {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: calc(0.25rem - 1px);
    border-top-left-radius: calc(0.25rem - 1px);
    }
  }

.card-recommend {
      flex-direction: row;
      min-width: 0;
      word-wrap: break-word;
      background-color: #fff;
      border: none;
      border-radius: .25rem;
    /*  box-shadow: 0 0rem 0.7rem rgba(0,0,0,.10);    */
      -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.10);
      -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.10);
      box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.10);
      transition: box-shadow 0.3s ease-in-out;
  }

.card-recommend img {
  width: 70%;
}

.btn {
  font-weight: 300;
  font-family: 'Roboto', sans-serif !important;
  color: black;
  background-color: white;
  border-color: black;
  border-radius: 0;
  text-decoration: none;
}

.btn:hover, .btn:focus {
  color: white;
  background-color: black;
}

.quote {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 14px;
}

.brands p {
  font-size: 14px;
  text-align: center;
}

.brands .col-sm-2 {
  width: 40%;
  margin-bottom: 32px;
}
  @media (min-width: 576px) {
     .brands .col-sm-2 {
      width: 33%;
      max-width: 33%;
      flex: 0 0 33%;
    }
  }
  @media (min-width: 992px) {
     .brands .col-sm-2 {
      width: 16%;
      max-width: 16%;
      flex: 0 0 16%;
    }
  }

  .getintouch {
    text-align: center;
  }

.form-control {
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;

}

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}

.form-control:focus, .form-control:active {
   outline: none !important;
   box-shadow: none;
}

.has-float-label {
  display: block;
  position: relative;
  color: black;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif !important;

}
.has-float-label label, .has-float-label > span {
  position: absolute;
  left: 0;
  top: 0;
  cursor: text;
  font-size: 85%;
  opacity: 1;
  -webkit-transition: all .3s;
          transition: all .3s;
  top: -1em;
  left: 0.75rem;
  z-index: 3;
  line-height: 1;
  padding: 0 1px;
}
.has-float-label label::after, .has-float-label > span::after {
  content: " ";
  display: block;
  position: absolute;
  background: white;
  height: 2px;
  top: 50%;
  left: -.1em;
  right: -.2em;
  z-index: -1;
}
.has-float-label .form-control::-webkit-input-placeholder {
  opacity: 0.5;
  -webkit-transition: all .3s;
          transition: all .3s;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 300;

}
.has-float-label .form-control::-moz-placeholder {
  opacity: 0.5;
  transition: all .3s;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 300;
}
.has-float-label .form-control:-ms-input-placeholder {
  opacity: 0.5;
  transition: all .3s;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 300;
}
.has-float-label .form-control::placeholder {
  opacity: 0.5;
  -webkit-transition: all .3s;
          transition: all .3s;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 300;

}
.has-float-label .form-control:placeholder-shown:not(:focus)::-webkit-input-placeholder {
  opacity: 0;
}
.has-float-label .form-control:placeholder-shown:not(:focus)::-moz-placeholder {
  opacity: 0;
}
.has-float-label .form-control:placeholder-shown:not(:focus):-ms-input-placeholder {
  opacity: 0;
}
.has-float-label .form-control:placeholder-shown:not(:focus)::placeholder {
  opacity: 0;
}
.has-float-label .form-control:placeholder-shown:not(:focus) + * {
  font-size: 130%;
  opacity: 1;
  top: .3em;
}

.card-recommend .col-sm-9 {
  width: 75%!important;
}
.card-recommend .col-sm-1 {
  width: 15%!important;
}
.card-recommend .col-md-1 {
  width: 5%!important;
}

.container-fluid {
  background-color: black;
  color: white;
}

.foot {
  padding: 25px 0 10px 0;
}

.container-fluid a {
  color: white;
  font-size: 1rem;
}

.container-fluid a:hover {
  color: #d3d3d3;
}

.foot-nav {
    display: flex!important;
    justify-content: flex-end!important;
    align-self: center!important;

}

html {
  scroll-behavior: smooth;
}

:target {
  display: block;
  position: relative;
  top: -110px;
  visibility: hidden;
}

.case-study-img {
  width: 100%;
  object-fit: cover;
  object-position: left;
  margin-top:20px;
  border: none;
  border-radius: .25rem;
}
@media (min-width: 768px) {
  .case-study-img {
    margin-top: 0px;
    height: 100%;
    width: auto;
    max-height: 360px;
    max-width: 400px;
  }
}

.case-study-img-top {
  max-width: 100%;
  object-fit: cover;
  justify-content: center;
  display: flex;
  margin-bottom: 30px;
  border: none;
  border-radius: .25rem;
}
@media (min-width: 768px) {
  .case-study-img-top {
    height: 100%;
    max-height: 360px;
    margin-bottom: 0px;
  }}

.case-subtitle {
  font-size: 18px;
}

.align-left h2 {
  text-align: left;
}

.col-md-6 {
  padding: 0 15px 0 15px;
}

.career-position {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 1rem;
  margin-bottom: 0.4rem;
}

.career-duration {
  font-size: 0.8rem;
  opacity: 0.8;
  margin-bottom: 0.6rem;
}

ul {
  list-style-type: square;
}
